@import "tailwindcss";

@theme {
  --container-8xl: 102rem;

  --color-brand-600: #c8102e;
  --color-brand-700: #a80d26;
  --color-brand-800: #880a1f;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}